@import 'fonts.scss';

body {
    background-color: #f8f8f8;
    font: 17px / 26px BasisGrotesquePro, sans-serif;
}
.slick-list,
.slick-slide {
    outline: none;
}
button {
    outline: none;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}
@media (max-width: 1020px){
    .container {
        padding: 0 20px;
    }
}


// слайдер на главной
.main-first{
    margin-top: 50px;
    margin-bottom: 83px;
}
.main-first__slider{
    background-color: #FF4F12;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s all;
}
.main-first__slider.slick-slider{
    opacity: 1;
}
.main-first__item{
    height: 440px;
   
    padding: 90px 129px;
    color: #fff;
    position: relative;
}
.main-first__item__img{
    background-position: right center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.main-first__item__name{
    font-weight: 500;
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 20px;
}
.main-first__item p{
    font-size: 18px;
    line-height: 125%;
}
.main-first__item a{
    font-size: 18px;
    line-height: 1.25;
    padding: 14px 47px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    color: #FF4F12;
    text-decoration: none;
    margin-top: 44px;
    transition: 0.3s all;
}
.main-first__item a:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main-first__slider{
    .slick-dots{
        position: absolute;
        bottom: 50px;
        display: flex;
        align-items: center;
        left: 129px;
    }
    .slick-dots li{
        list-style: none;
        cursor: pointer;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        cursor: pointer;
    }
    .slick-dots li button{
        font-size: 0;
        background-color: #CECECE;
        border-radius: 100%;
        height: 10px;
        flex: 0 0 10px;
        border: 0;
        cursor: pointer;
        
    }
    .slick-dots li.slick-active button{
        background-color: #fff;
    }
}
@media(max-width: 1199px){
    .main-first__item{
        padding: 80px 30px;
    }
    .main-first__slider .slick-dots{
        left: 30px;
    }
}
@media(max-width: 1020px){
    .main-first__slider{
        margin: 0 -20px; 
    }
    .main-first__item{
        height: auto;
        background-size: 50% 50%;
        background-position: top center;
        padding: 43px 15px;
        padding-top: 0;
    }
    .main-first__slider{
        border-radius: 0;
    }
    .main-first__slider .slick-arrow{
        position: absolute;
        bottom: 53px;
        right: 15px;
        width: 33px;
        height: 33px;
        font-size: 0;
        background-color: #fff;
        border-radius: 100%;
        border: 0;
        background-image: url('../img/main/ar-r.svg');
        background-position: center center;
        background-size: 7px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }
    .main-first__slider .slick-arrow.slick-prev{
        right: 66px;
        background-image: url('../img/main/ar-l.svg');
    }
    .main-first__item__wrap:before{
        content: "";
        width: 256px;
        height: 2px;
        background-color: #fff;
        display: block;
        margin-bottom: 25px;
        position: relative;
        left: -15px
    }
    .main-first__item__img{
        position: initial;
        width: calc(100% + 30px);
        padding-bottom: 60%;
        margin: 0 -15px;
        background-size: contain;
        background-position: center center;
    }
}

@media(max-width: 767px){
    .main-first__item__name{
        font-size:29px;
        line-height: 36px;
    }
}

@media(max-width: 374px){
    .main-first__item__name{
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 10px;
    }
}
.main-first__brand__wrap{
    width: 100%;
    overflow: auto;
}

.main-first__brand{
    display: flex;
    overflow: auto;
}
.main-first__brand__item{
    height:  119px;
    width: calc(100% / 5);
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}
.main-first__brand__item img{
    max-width: 100%;
}
@media(max-width: 1199px){
    .main-first__brand__item{
        min-width: 125px;
    }
}



.main-categori{
    display: flex;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    overflow: auto;
}
.main-categori__item{
    width: calc(100% / 6);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 124px;
    border-right: 1px solid  #E5E5E5;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s all;
}
.main-categori__item:hover{
    border-bottom: 2px solid  #7700FF;
    background-color: #fff;
}
.main-categori__item:last-child{
    border-right: 0;
}
.main-categori__item img{
    height: 40px;
}
.main-categori__item span{
    margin-top: 10px;
    font-size: 16px;
    line-height: 21px;
    color: #353535;
}

@media(max-width: 1020px){
    .main-categori{
        margin: 0 -20px;
    }
    .main-first__brand{
        margin: 0 -20px;
    }
    .main-categori__item{
        min-width: 163px;
    }
}

.section-baner{
    padding: 40px 0;
}
.main-tbaner{
    display: block;
    text-decoration: none;
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
    background-color: #FFD7D7;
    border-radius: 5px;
    padding: 85px 109px;
    position: relative;
    height: 338px;
    transition: 0.3s all;
}
.main-tbaner:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.main-tbaner__name{
    font-weight: 500;
    font-size: 35px;
    line-height: 30px;
    /* or 120% */
    color: #353535;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.main-tbaner p{
    font-size: 20px;
    line-height: 26px;
    color: #353535;
    position: relative;
    z-index: 1;
}
.main-tbaner__img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: bottom right 89px;
}

@media(max-width: 1199px){
    .main-tbaner{
        padding: 70px 30px;
    }
}

@media(max-width: 1020px){
    .main-tbaner{
        border-radius: 0;
        height: auto;
        margin: 0 -20px;
        max-width: calc(100% + 40px);
        padding-bottom: 0;
    }
    .main-tbaner__img{
        position: initial;
        height:340px;
        background-position: bottom center;
    }
}
@media(max-width: 767px){
    .section-baner{
        padding: 40px 0;
    }
}
@media(max-width: 374px){
    .main-tbaner__img{
        height: 250px;
        background-size: contain;
    }
}


.section-baner2__wrap{
    display: flex;
    margin: 0 -10px;
}
.section-baner2{
    padding: 40px 0;
}
.section-baner2__item{
    width: calc(100% / 2 - 20px);
    min-width: 345px;
    margin: 0 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 35px 45px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s all;
}
.section-baner2__item span{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    padding: 11px 68px;
    border: 2px solid #FFFFFF;
    border-radius: 5px; 
    display: inline-block;
    transition: 0.3s all;
    margin-bottom: 22px;
}

.section-baner2__procent{
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    border-radius: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 23px;
}
.section-baner2__procent img{
    position: relative;
    margin-top: -4px;
}
.section-baner2__name{
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}
.section-baner2 p{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 27px;
}

.section-baner2__item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    span{
        background-color: rgba(227,232,236,.5);
    }
}

@media(max-width: 1020px){
    .section-baner2__item{
        padding: 38px 23px;
    }
    
}
@media(max-width: 767px){
    .section-baner2__wrap{
        overflow: auto;
        margin: 0;
        width: calc(100% + 50px);
        margin-left: -30px;
    }
    .section-baner2__item span{
        padding: 10px 35px;
    }
    .section-baner2{
        padding: 40px 0;
    }
}

.more-baner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .section-baner2__item{
        margin-bottom: 20px;
        width: calc(100% / 4 - 20px);
        padding: 38px 23px; 
        min-width: initial;
       
    }
    .section-baner2__item.big{
        width: calc(100% / 2 - 20px);
    }
    .section-baner2__name {
        font-size: 24px;
        line-height: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 59px;
    }
    .section-baner2 p{
        font-size: 18px;
        line-height: 23px;
    }
}

@media(max-width: 1439px){
    .more-baner{
        .section-baner2__item{
            width: calc(100% / 2 - 20px);
        }
    }
}
@media(max-width: 767px){
    .more-baner{
        .section-baner2__item{
            width: calc(100% / 1 - 20px);
        }
        .section-baner2__item.big{
            width: calc(100% / 1 - 20px);
        }
        .section-baner2__name {
            height: auto;
            -webkit-line-clamp: 4;

        }
    }
    
}
@media(max-width: 374px){
    .more-baner{
        margin: 0 -20px;
    }
}
.section-slider{
    padding: 40px 0;
}
.section-slider__top{
    position: relative;
    text-align: center;
    margin-bottom: 44px;
    h2{
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
        color: #353535;
        margin-bottom: 10px;
    }
    span{
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height */
        color: #353535;
    }
    a{
        position: absolute;
        top: 12px;
        right: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-decoration: none;
        color: #353535;
    }
    a:after{
        content: '';
        display: inline-block;
        width: 15px;
        height: 8px;
        background-size: contain;
        background-image: url('../img/main/arr-more.svg');
        margin-left: 6px;
        transition: 0.3s all;
    }
    a:hover:after{
        transform: translateX(5px);
    }
}

.section-slider .slick-arrow{
    position: absolute;
    top: 50%;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-size: 0;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.section-slider .slick-prev{
    left: 50%;
    transform: translateX(-766px) translateY(-50%);
    z-index: 1;
    background-image: url('../img/main/sarr-left.svg');
}
.section-slider .slick-next{
    right: 50%;
    transform: translateX(766px) translateY(-50%);
    background-image: url('../img/main/sarr-right.svg');
}

.section-slider__wrap{
    width: 1920px;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0;
    .slick-slide {
        opacity: .5;
        transition: 0.3s all;
    }
    .change-color__item{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    .change-color__item a{
        width: 18px;
        height: 18px;
    }
    .slick-active {
        opacity: 1;
    }
    a:focus{
        outline: none;
    }
    .slick-track {
        left: -180px;/* half of the centered slide and padding */
    }
    .rekomend__item{
        margin-left: 0;
        margin-left: 10px;
        margin-right: 10px;
        width: 340px;
    }
    
}
.section-slider__wrap.slick-slider{
    opacity: 1;
    transition: 0.3s all;
}
.section-slider__wrap.section-not-slider{
    opacity: 1;
    transition: 0.3s all;
    width: 1440px;
    max-width: 100%;
    display: flex;
}
.rekomend__img{
    display: block;
}
.rekomend__name{
    text-decoration: none;
}

@media(max-width: 1550px){
    .section-slider .slick-prev{
        transform: translate(0, -50%);
        left: 2px;
    }
    .section-slider .slick-next{
        transform: translate(0, -50%);
        right: 2px;
    }
}

@media(max-width: 1439px){
    .section-slider__wrap{
        .slick-track{
            left: 0;
        }
    }
}
@media(max-width: 1199px){
    .section-slider__wrap{
        .slick-track{
            left: -180px;
        }
    }
}

@media(max-width: 767px){
    .section-slider__wrap{
        .rekomend__item{
            width: 216px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 15px;
        }
        .slick-track{
            left: 15px;
        }
        .rekomend__img{
            height: 198px;
        }
        .slick-slide {
            opacity: 1;
            transition: 0.3s all;
        }
        .rekomend__akc{
            width: 57px;
            left: -10px;
            font-size: 12px;
            height: 20px;
            margin-bottom: 15px;
        }
        .rekomend__akc:before{
            height: 10px;
            width: 10px;
        }
        .rekomend__left-abs a{
            width: 47px;
            font-size: 10px;
            line-height: 18px;
            height: 20px;
            border: 2px solid #7700FF;
        }
        .rekomend__action .tovar-buy-bnt{
            width: 102px;
            height: 31px;
        }
        .rekomend__name{
            font-size: 15px;
        }
        
        .upsell__price span{
            font-size: 20px;
        }
        .upsell__price .upsell__price__old{
            font-size: 18px;
        }
        .rekomend__bot__item{
            font-size: 12px;
        }
    }
    .section-slider__top{
        text-align: left;
    }
    .section-slider__top h2{
        font-size: 24px;
        line-height: 31px;
    }
    .section-slider__top span{
        font-size: 16px;
        line-height: 21px;
    }
    .section-slider__top a{
        top: 5px;
    }
}

.rekomend__phone{
    text-decoration: none;
    background-color: #fff;
    width: 340px;
    height: 596px;
    max-height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex!important;
    flex-direction: column;
    justify-content: space-between;
    img{
        max-width: 90%;
        display: block;
        margin: 0 auto;
    }
    
}
.rekomend__phone__wrap{
    text-align: center;
    padding-top: 66px;
}
.rekomend__phone__title{
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #353535;
    margin-bottom:20px;
}
.rekomend__phone__text{
    font-size: 18px;
    line-height: 23px;
    color: #353535;
}

@media(max-width: 767px){
    .rekomend__phone{
        width: 216px;
        height: 447px;
    }
    .rekomend__phone__title{
        font-size: 30px;
        line-height: 39px;
    }
    .rekomend__phone__text{
        font-size: 18px;
        line-height: 23px;
        max-width: 200px;
        margin: 0 auto;
    }
    .rekomend__phone__wrap{
        padding-top: 50px;
    }
}